.preblo-login-input {
  border-radius: 2px;
  border: solid 1px #b2b2b2;
  background-color: #ffffff;
}

.size img {
    width: 25%;
    height: auto;  
}

.BackGroundColor{
   background-color: #343c4c; 
}

.cover-text {
	display: table-cell;
	vertical-align: middle;
  text-align: center;
}
.cover-img {
	height: 600px;
	display: table;
	width: 100%;
	background-size: cover;
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
  }
  .card-img-overlay-button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
  }

.cover-font{
    font-size: 70%;
    font-weight: bold; /*装飾*/
}

.toggle-button{
  float: right;
}

.need-font-size{
  font-size: 50%;
}

.firstContact_font_japanese{
  font-family: 'Dela Gothic One', cursive;
}

.fastcontactinfo{
  color: white;
  font-size: 4vw;
}

.text-shadow-blue {
  transform: translate(50%,-50%);
  text-transform: uppercase;
  color: #05fffbe3;
  text-shadow: 1px 1px 1px #919191,
      1px 2px 1px #919191,
      1px 3px 1px #919191,
      1px 4px 1px #919191,
      1px 5px 1px #919191,
      1px 6px 1px #919191,
      1px 7px 1px #919191,
      1px 8px 1px #919191,
      1px 9px 1px #919191,
      1px 10px 1px #919191,
  1px 18px 6px rgba(16,16,16,0.4),
  1px 22px 10px rgba(16,16,16,0.2),
  1px 25px 35px rgba(16,16,16,0.2),
  1px 30px 60px rgba(16,16,16,0.4);
}

.firstContact-about{
  font-size:3vw; 
  font-family: 'Kosugi Maru', cursive;
  position: absolute;
  right: 0;
}

.firstContact-about2{
  font-size:3vw; 
  font-family: 'Kosugi Maru', cursive;
  position: absolute;
  bottom: 15%;
}
.TopNewInfo{
    height:130px;
  }

.TopImageInfo{
    filter: brightness(50%);
    width: 100%; 
    max-height: 130px;
    object-fit: cover;
}


.middleImageInfo1{
  filter: brightness(50%);
  width: 100%; 
  max-height: 100%;
  object-fit: cover;
}

.middleImageInfo2{
  width: 100%; 
  max-height: 230px;
  object-fit: cover;
}

.firstInfo{
  position: absolute;
  top: 20%;
}

.firstContact_font{
  font-size: 4vw;
  font-family: cursive;
  position: absolute;
  right: 20%;
  bottom:-3rem;

}

.img-responsive {
  /* display: block; */
  height: auto;
  max-width: 50%;
  opacity: 0.5;
}


.resizeimage-img { 
  width: 3%; 
  height: auto;
}
.resizeadd-info { 
  width: 90%; 
  height: auto;
}

.footer-posi{
  /* padding-top: 100px; */
  width: 100%;
  position: static;
  bottom: 0;
}



/* maincontent */
.info-content{
  width: 100%;
  height: 80%;
}

.info-afi{
  width: 30%;
  height: 80%;
}

.responsive-afi{
  width: 100%;
}


/* maininfo@index */
div select{
  text-align: center;
  width: 15%;
  height: 3%;
}

.add-info-index{
  width: 100%;
}

.image-responsive{
  width: 80%;
  height: auto;
}

.container-textarea{
    width:60%;
    height:10%
}
form div{
  display: inline;
  white-space: nowrap;;
}

.info-form{
  width: 100%;
  float: left;
}

.preview-img{
  width: 40%;
  height: 100%;
  float: left;
}

.top3{
  min-height: 15rem;
}

/* show */
.show-position{
  vertical-align: middle;
  text-align: center;
}


.show-infor{
  color: #ffffff;
  width: 100%;
  height: 100%;
  text-align: left;
}

.show-img{
  max-width: 100%; 
  max-height: 100%;
  object-fit: contain;
}

.show-oricolor{
  background-color:#b0c4de;
}

.show-hotel-img{
  max-width: 47%; 
  max-height: 45%;
  object-fit: contain;
  margin: 0 3px;
}

.backimage{
  background-image: url("image/taxtback.png");
  background-size: 100% 100%;
}

@media screen and (max-width: 768px){
  .bikeorcar-img{
    width: 20px;
    height: auto;
  }

  .wrap-add{
    flex-wrap: wrap;
  }

  .position-block{
    display: block;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
 }

 .TopNewInfo{
   height:5rem;
 }

}
/* pc　768px以上 */
@media screen and (min-width: 768px), print {
  .bikeorcar-img{
    width: 3rem;  
    height: auto;
  }

  .show-breakpoint{
    height: 700px;
  }
  
  .TopNewInfo{
    height:5rem;
  }

  .header-navbar{
    text-align: right;
  }
}

