.size img {
    width: 25%;
    height: auto;  /* ←縦横比を維持する高さを自動計算 */
}

.BackGroundColor{
   background-color: #343c4c; 
}

.cover-text {
	display: table-cell;
	vertical-align: middle;
  text-align: center;
}
.cover-img {
	height: 600px;
	display: table;
	width: 100%;
	background-size: cover;
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
  }
  .card-img-overlay-button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
  }

.cover-font{
    font-size: 70%;
    font-weight: bold; /*装飾*/
}

.toggle-button{
  float: right;
}

.need-font-size{
  font-size: 50%;
}

.img-responsive {
  /* display: block; */
  height: auto;
  max-width: 50%;
  opacity: 0.5;
}


.resizeimage-img { 
  width: 3%; 
  height: auto;
}
.resizeadd-info { 
  width: 90%; 
  height: auto;
}

.footer-posi{
  padding-top: 100px;
  width: 100%;
}



/* maincontent */
.info-content{
  width: 80%;
  height: 100%;
}

.info-afi{
  width: 30%;
  height: 100%;
}



/* maininfo@index */
div select{
  text-align: center;
  width: 15%;
  height: 3%;
}

.add-info-index{
  width: 100%;
}

.image-responsive{
  width: 80%;
  height: auto;
}

.container-textarea{
    width:60%;
    height:10%
}
form div{
  display: inline;
  white-space: nowrap;;
}

.info-form{
  width: 100%;
  float: left;
}

.preview-img{
  width: 40%;
  height: 100%;
  float: left;
}
