.size img {
    width: 25%;
    height: auto;  
}

.BackGroundColor{
   background-color: #343c4c; 
}

.cover-text {
	display: table-cell;
	vertical-align: middle;
  text-align: center;
}
.cover-img {
	height: 600px;
	display: table;
	width: 100%;
	background-size: cover;
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
  }
  .card-img-overlay-button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
  }

.cover-font{
    font-size: 70%;
    font-weight: bold; /*装飾*/
}

.toggle-button{
  float: right;
}

.need-font-size{
  font-size: 50%;
}

.img-responsive {
  /* display: block; */
  height: auto;
  max-width: 50%;
  opacity: 0.5;
}


.resizeimage-img { 
  width: 3%; 
  height: auto;
}
.resizeadd-info { 
  width: 90%; 
  height: auto;
}

.footer-posi{
  /* padding-top: 100px; */
  width: 100%;
  position: static;
  bottom: 0;
}



/* maincontent */
.info-content{
  width: 100%;
  height: 80%;
}

.info-afi{
  width: 30%;
  height: 80%;
}

.responsive-afi{
  width: 100%;
}


/* maininfo@index */
div select{
  text-align: center;
  width: 15%;
  height: 3%;
}

.add-info-index{
  width: 100%;
}

.image-responsive{
  width: 80%;
  height: auto;
}

.container-textarea{
    width:60%;
    height:10%
}
form div{
  display: inline;
  white-space: nowrap;;
}

.info-form{
  width: 100%;
  float: left;
}

.preview-img{
  width: 40%;
  height: 100%;
  float: left;
}

.info-image{
  max-width: 100%;
  max-height: 180px;
}

.top3{
  min-height: 15rem;
}

/* show */
.show-position{
  vertical-align: middle;
  text-align: center;
  height: 100%;
}


.show-infor{
  color: #ffffff;
  width: 100%;
  height: 100%;
  text-align: left;
}


@media screen and (max-width: 768px){
  .bikeorcar-img{
    width: 20px;
    height: auto;
  }

  .wrap-add{
    flex-wrap: wrap;
  }

  .position-block{
    display: block;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
 }
}
/* pc　768px以上 */
@media screen and (min-width: 768px), print {
  .bikeorcar-img{
    width: 3rem;  
    height: auto;
  }
}

